body {
  margin: 0auto;
  font-family: "Hind Vadodara", sans-serif;
}

.container-main {
  display: flex;
}
/* sidebar */

.sidebar-main {
  background-color: grey;
  border: solid 1px pink;
}
.sidebar-categories {
  list-style-type: none;
  cursor: pointer;
  padding-right: 2em;
}

/* Main content */

.container-main {
  padding: 2em;
}
