body {
  margin: 0 auto;
  font-family: "Hind Vadodara", sans-serif;
}

.container-main {
  display: flex;
}

.sidebar-categories {
  list-style-type: none;
  padding-right: 4em;
}

/* Main content */

.container-main {
  padding: 2em;
}
